@{
    ViewBag.Title = "Автовокзал";
}

<div class="jumbotron">
    <h1>АВТОВОКЗАЛ</h1>
    <p>Объект транспортной инфраструктуры, включающий в себя размещённый на специально отведённой территории комплекс зданий и сооружений, предназначенных для оказания услуг пассажирам и перевозчикам при осуществлении перевозок пассажиров и багажа</p>
</div>
